.element1 {
	width:520px;
	overflow:hidden;
	float:left;	
}

.elementfull{
	width:1200px;
	overflow:hidden;
	float:left;	
}
.element300{
	width:300px;
	overflow:hidden;
	float:left;	
}
.element750{
	width:750px;
	overflow:hidden;
	float:left;	
	float: right;
}
.element100{
	width:100px;
	overflow:hidden;
	float:left;	
}
.element200{
	width:200px;
	overflow:hidden;
	float:left;	
}
.element950{
	width:950px;
	overflow:hidden;
	float:left;	
}
.rightelement350{
	width:350px;
	overflow:hidden;
	float:right;	
}
#loading{
	width:200px;
	overflow:hidden;
	border: 2px solid red;
	background-color:white;
	padding-left:90px;
	position: fixed;
	top:250px;
	left: 450px;
	z-index: 9999;
}
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
.editable {
	border: 1px solid #ccc !important;
	background: #fff;
	float:left;
}

.col-edit {
	float: left;
}
.autocomp {
	background-image: url("../images/throbber.gif");
    background-position: 100% -16px;
    background-repeat: no-repeat;
    height: 17px;
    width: 16px;
    float: left;
}
.elementcancel{
	width:100px;
	padding-top: 4px;
	float:left;	
}
.elementcancel a{
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(../images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.elementcancel a:hover {
	text-decoration: none;
}